*.pyc
*egg-info
.tox
.coverage
venv
dist
build
test.xml
run_scripts/pollution_crawler.sh
run_scripts/pollution_crawler2.sh
old2_website.py
old_website.py
test.py
scripts/configs
scripts/eggs
scripts/items
scripts/dbs
scripts/logs
scripts/twistd.pid
scripts/test.txt
tests
