*.pyc
*egg-info
.tox
.coverage
venv
dist
build
test.xml
old2_website.py
old_website.py
test.py
scripts/configs
scripts/crontabs
scripts/eggs
scripts/items
scripts/dbs
scripts/logs
scripts/twistd.pid
scripts/test.txt
tests

