[Unit]
Description=PollutionCrawler

[Service]
Type=forking
User=roman
ExecStart=/home/roman/PycharmProjects/scrapyd_fork/scrapyd/scrapyd/run_scripts/runpcr.sh

[Install]
WantedBy=default.target
