{% extends 'base.html' %}
{% block content %}
<div class="well">
    {{ msg }}
</div>

<div class="starter-template">
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Spider name</th>
                    <th>Repeat</th>
                    <th>Use</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr><th colspan="4" class="text-center info">Pending</th></tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr><th colspan="4" class="text-center info">Running</th></tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr><th colspan="4" class="text-center info">Finished</th></tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}




