{% extends 'base.html' %}
{% block content %}

<div class="starter-template">
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Spider name</th>
                    <th class="text-center">Start time</th>
                    <th class="text-center">Working time</th>
                    <th class="text-center">Logs</th>
                    <th class="text-center">Items</th>
                </tr>
            </thead>
            <tbody>
                <tr><th colspan="5" class="text-center info">Pending</th></tr>
                {% for project, line in pending %}
                    {% for m in line.list()%}
                    <tr>
                        <td>{{ m['name'] }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                <tr><th colspan="5" class="text-center info">Running</th></tr>
                {% for process in running %}
                <tr>
                    <td>{{ process.spider }}</td>
                    <td>{{ process.start_time }}</td>
                    <td>{{ dt - process.start_time }}</td>
                    <td><a href='/logs/{{ process.project }}/{{ process.spider }}/{{ process.job }}.log'>Logs</a></td>
                    <td><a href='/items/{{ process.project }}/{{ process.spider }}/{{ process.job }}.jl'>Items</a></td>
                </tr>
                {% endfor %}
                <tr><th colspan="5" class="text-center info">Finished</th></tr>
                {% for process in finished %}
                <tr>
                    <td>{{ process.spider }}</td>
                    <td>{{ process.start_time }}</td>
                    <td>{{ process.end_time - process.start_time }}</td>
                    <td><a href='/logs/{{ process.project }}/{{ process.spider }}/{{ process.job }}.log'>Logs</a></td>
                    <td><a href='/items/{{ process.project }}/{{ process.spider }}/{{ process.job }}.jl'>Items</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}




